/* 
    #10A344
    #11AD24
    #289617
    #3C820A
    #7FB305
*/

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    background-color: #cc1d2b;
}
nav {
    background-color: #9dcc7c;
}

body {
    background-image: url("../img/fondo_Index.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    color: black;
    padding: 20px 30px;
}

.link:hover {
    color: black;
    padding: 20px 50px;
}

/*      BARRA DE NAVEGACIÓN     */
nav th {
    font-size: larger;
    float: left;
    padding: 10px 0;
}

nav th:hover {
    font-size: larger;
    float: left;
    padding: 8px 0;
    border-bottom: 4px solid  #1f3f08;
    background-color: #7FB305;
    border-radius: 10px;
}

aside {
    float: right;
}

/*      TABLAS DE CLASIFICACION    */

main table {
    margin: 20px;
    background-color: #9dcc7c;
    text-align: center;
}

main th {
    font-size: large;
}

main table {
    border-collapse: collapse;
    border: 2px solid #1f3f08;
}

main th {
    border-bottom: 2px solid #1f3f08;
    padding: 0 10px;
}

main td {
    border-right: 2px solid #1f3f08;
    border-left: 2px solid #1f3f08;
    padding: 0 15px;
}

.enc {
    color: black;
    margin: 10px 80px;
    padding: 5px 30px;
    border-bottom: 4px solid  #1f3f08;
    background-color: #7FB305;
    border-radius: 10px;
}

.enc:hover {
    padding: 10px 35px;
    margin: 10px 75px;
}

/*      FONDO DE LA PAGINA      */

footer {
    background-color: #9dcc7c;
    padding: 16px 0;
    margin: bottom;
}

footer img {
    float: right;
    margin: -8px 10px;
}

footer img:hover {
    height: 50px;
    margin: bottom;
}